// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
html,
body,
.body {
  background: #e4e5e;
  background-color: #e4e5e;
}
.header {
  background: #ff690f;
  background-color: #ff690f;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    .logo-white {
      width: 128px;
    }
    .user_icon {
      width: 32px;
    }
  }
}
.sub-header {
  background: #d65600;
  background-color: #d65600;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px;
    color: white;
    a {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
